@import '../../../Api/mixin.less';
.good_warper {
  .tab {
    display: flex;
    width: 100%;
    .px2Rem(height,80);
    .px2Rem(line-height,80);
    .bd(border-top,1,rgba(7,17,27,0.1));
    .bd(border-bottom,1,rgba(7,17,27,0.1));
    .tab-item {
      flex: 1;
      display: block;
      text-align: center;
      color: rgb(77,85,93);
      .px2Rem(font-size,28);
      &.active {
        color: #f01414;
      }
    }
  }
  .example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}